<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption d'animaux</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">

        <h1>Adoption d'animaux de compagnie</h1>

        <form action="/" method="GET" class="barre-recherche">
            <input type="text" name="q" placeholder="Rechercher un animal..." class="recherche-input">
            <button type="submit" class="btn">Rechercher</button>
        </form>
        <div class="bouton-milieu">
            <a href="{{ url_for('home') }}"  class="btn btn-large">Afficher 5 animaux aléatoire</a>
            <a href="/liste" class="btn btn-large">Consulter la liste complète</a>
        </div>
        {% if message %}
            <p class="message">{{ message }}</p>
        {% else %}
        <div class="liste-animaux">
            {% for animal in animaux %}
            <div class="carte-animal">
                <a href="/animal/{{ animal.id }}">
                    <h2>{{ animal.nom }}</h2>
                    <p><strong>Race :</strong> {{ animal.race or "Non précisée" }}</p>
                    <p>{{ animal.description }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="bouton-milieu">
            <a href="/add" class="btn btn-large" id="bouton-mise-en-adoption">Mise en adoption</a>
        </div>
        <div class="reference">
            <a href="/references">Voir la bibliographie</a>
        </div>
    </div>
</body>
</html>
